<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>My first AngularJS App</title>
  </head>
  <body ng-app="NameCalculator">

    <h1>Name Calculator</h1>

    <div ng-controller="NameCalculatorController">
    <div>

    Your name is :
    <input type="text" ng-model='name' ng-keyup="displayNumeric();">

    </div>

    <div>
      total Numeric value of person's name is : {{totalValue}}

    </div>
    </div>

  </body>
</html>
name calculator
-->

<!-- <!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <script src="angular.min.js"></script>
   <script src="app.js"></script>
   <title>Di in js and AngularJS</title>
 </head>
 <body ng-app="DiApp">
   <h1>Di in js and AngularJS</h1>
   <div ng_controller="DiController">
     <input type="text" ng-model="name" ng-blur="upper();">

   </div>

 </body>
</html> code ro upper case the input field after elevating the focus on the field  -->

<!DOCTYPE html>
<html ng-app='MsgApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Filters</title>
  </head>
  <body>
    <h1>Filters</h1>
    <div ng-controller='MsgController'>
      {{name}} has a message for you: <br>
      {{sayMessage()}}
      <div>
        <button ng-click="feedYaakov()">Feed Yaakov</button>
        <br>

        <img ng-src="images/yaakov_{{stateOfBeing}}.png">
      </div>
    </div>
  </body>
</html>
